.wrapper {
	width: 90%;
	margin-inline: auto;
}

a {
	text-decoration: none;
}

/* <> NAVBAR -------- */

nav {
	padding-top: 1.5rem;
}

nav .nav-items {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.nav-items .logo {
	padding-top: 0.5rem;
}

.nav-items .btn-openmenu {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.nav-items .navlinks {
	display: none;
}

/* ~~ MENU MOBILE/TOGGLE ~~~~ */

.menutoggle {
	visibility: hidden;
	opacity: 0;

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	transform: translateX(100%);
}

body.menu-expanded {
	overflow: hidden;
}

body.menu-expanded .menutoggle {
	background-color: var(--cl-primary-d);
	height: 100vh;
	width: 100vw;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;

	visibility: visible;
	opacity: 1;

	transition: transform 300ms;
	transform: translateX(0);
}

body.menu-expanded .menutoggle .menutoggle-top {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding-top: 2rem;
}

body.menu-expanded .menutoggle .btn-closemenu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	height: fit-content;
	align-content: flex-start;
	padding-block: 0.2rem;
}

body.menu-expanded .menutoggle .menutoggle-nav {
	margin-top: 8rem;
}

body.menu-expanded .menutoggle .menutoggle-nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

body.menu-expanded .menutoggle .menutoggle-nav ul a {
	font-family: var(--ff-secondary--);
	font-weight: normal;
	color: var(--cl-primary-l);
	display: inline-block; /*for styling on hover*/
}

body.menu-expanded .menutoggle .menutoggle-nav ul a::after {
	content: '';
	display: block;

	background: var(--cl-primary-l);
	width: 0;
	height: 1px;
	transition: width 0.1s;
}

body.menu-expanded .menutoggle .menutoggle-nav ul a:hover::after {
	width: 100%;
}
/* ~~ Menu Toggle End ~~ */

/* <> HEADER -------- */
header::before {
	content: '';
	background: url(../assets/mobile/image-hero.jpg) no-repeat;
	background-size: cover;
	width: 100vw;
	height: 46rem;

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

header {
	height: auto;
}

.herotext {
	margin: 10rem auto 10rem;
	display: flex;
	justify-content: center;
	border: 2px solid var(--cl-primary-l);
}

.herotext h1 {
	color: var(--cl-primary-l);
	font-family: var(--ff-secondary--);
	font-size: 2.6rem;
	line-height: 2.5rem;
	padding: 1.5rem;
	font-weight: normal;
}

/* MAIN CONTENT <> SECTION 1 ----------- */

section#informational {
	background-color: var(--cl-primary-l);
	margin-top: 25rem;
}

section#informational .info-img {
	line-height: 0%;
}

section#informational .info-img img {
	width: 100%;
}

section#informational .info-text {
	margin: 2.6rem auto;
	background-color: var(--cl-primary-l);
}

section h2 {
	font-family: var(--ff-secondary--);
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	line-height: 2.3rem;
}

section#informational .info-text p {
	text-align: center;
	margin-top: 2rem;
	color: var(--cl-neutral-l);
	font-family: var(--ff-primary--);
	font-weight: normal;
	font-size: 1.1rem;
	line-height: 2rem;
}

/* <> SECTION 2 ~ GRID ------------- */

section#creations {
	margin-top: 7.5rem;
	margin-bottom: 6rem;
}

section#creations .grid-menu {
	display: grid;
	grid-template-rows: 4rem repeat(8, 8rem) auto;

	row-gap: 1.5rem;
}

section#creations .grid-menu .grid-item {
	background-size: cover;
}

section#creations .grid-menu .grid-item .gridtext {
	font-family: var(--ff-secondary--);
	font-weight: normal;
	text-transform: uppercase;
	color: var(--cl-primary-l);
	line-height: 1.8rem;

	width: 100%;
	height: 100%;
	padding: 3.5rem 0 0 1.3rem;
}

section#creations .grid-menu .grid-item .gridtext:hover {
	color: var(--cl-primary-d);
	background: rgba(255, 255, 255, 0.651);
	transition: 100ms;
	cursor: pointer;
}

/* ~ Grid items/catalogue ~~~~ */
.grid-menu .item1 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-deep-earth.jpg) no-repeat;
}

.grid-menu .item2 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-night-arcade.jpg) no-repeat;
}

.grid-menu .item3 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-soccer-team.jpg) no-repeat;
}

.grid-menu .item4 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-grid.jpg) no-repeat;
}

.grid-menu .item5 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-from-above.jpg) no-repeat;
}

.grid-menu .item6 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-pocket-borealis.jpg) no-repeat;
}

.grid-menu .item7 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-curiosity.jpg) no-repeat;
}

.grid-menu .item8 {
	background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.4066001400560224) 6%,
			rgba(249, 249, 249, 0) 100%
		),
		url(../assets/mobile/image-fisheye.jpg) no-repeat;
}

.btn-grid {
	display: block;
	margin-inline: auto;

	font-size: 1rem;
	font-family: var(--ff-primary--);
	text-transform: uppercase;
	letter-spacing: 0.3rem;

	background-color: transparent;
	padding: 0.7rem 3rem 0.7rem;
	border: 1px solid var(--cl-primary-d);
	cursor: pointer;
}

.btn-grid:hover {
	background-color: var(--cl-primary-d);
	color: var(--cl-primary-l);
	transition: 150ms;
}

/* FOOTER <> */

footer {
	background: var(--cl-primary-d);
}

footer .wrapper {
	display: flex;
	flex-direction: column;
}

.footer-menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-block: 3rem;
}

.footer-flexcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-menu-nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	margin-top: 1rem;
}

.footer-menu-nav li {
	text-align: center;
	position: relative;
}

.footer-menu-nav a {
	font-family: var(--ff-primary--);
	display: inline-block;
	font-size: 0.9rem;
	color: var(--cl-primary-l);
	padding-block: 0.5rem;
}

.footer-menu-nav li::after,
.nav-items .navlinks li a::after {
	content: '';

	background-color: var(--cl-primary-l);
	height: 1px;
	width: 50%;

	position: absolute;
	bottom: 0px;
	left: 25%;
	transform: scaleX(0);
	transition: transform 30ms ease-in-out;
}

.footer-menu-nav li:hover::after,
.nav-items .navlinks li a:hover::after {
	transform: scaleX(1);
}

.social-links {
	display: flex;
	gap: 1rem;
	height: 1rem;

	margin-top: 3rem;
}

.social-links a {
	display: inline-block;
}

.social-links a span {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -5;
}

.social-links a i {
	color: var(--cl-primary-l);
}

.social-links a::after {
	content: '';
	display: block;
	border-bottom: solid 2px var(--cl-primary-l);
	transform: scaleX(0);
	transition: transform 30ms ease-in-out;
}

.social-links a:hover::after {
	transform: scaleX(1);
}

.footer-menu p:not(.attribution) {
	color: var(--cl-neutral-l);
	font-size: 0.9rem;
	font-family: var(--ff-primary--);

	margin-top: 1.5rem;
}

.attribution {
	margin: 0 auto 2rem;
	font-size: 0.6rem;
	color: var(--cl-neutral-l);
	font-family: var(--ff-primary--);
}

.attribution a {
	color: rgb(42, 123, 190);
	text-decoration: underline;
}
