@media screen and (max-width: 739px) {
	.herotext {
		justify-content: flex-start;
		max-width: 30rem;
	}

	.herotext h1 {
		max-width: 21rem;
	}
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
	.herotext {
		max-width: 35rem;
		justify-content: flex-start;
		margin: 10rem auto 10rem 0;
	}

	.herotext h1 {
		font-size: 3rem;
		max-width: 22rem;
		line-height: 3rem;
	}

	section#informational .info-text {
		max-width: 48rem;
	}
}

@media screen and (min-width: 1024px) {
	html {
		overflow-x: hidden;
	}

	.wrapper {
		width: 88%;
		max-width: 71rem;
	}

	/* <> NAVBAR */
	.nav-items {
		padding-top: 1.5rem;
	}

	.nav-items .btn-openmenu {
		display: none;
	}

	.nav-items .navlinks {
		display: flex;
		gap: 1.5rem;
		height: 2rem;
		margin-block: auto;
	}

	.nav-items .navlinks li {
		display: inline-block;
		position: relative;
	}

	.nav-items .navlinks li a {
		font-family: var(--ff-primary--);
		display: block;
		font-size: 1rem;
		color: var(--cl-primary-l);
		padding-block: 0.1rem;
	}

	.nav-items .navlinks li a::after {
		height: 2px;
		transition: transform 20ms ease-in-out;
	}

	/* <> Header ---- */
	header::before {
		background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0.39539565826330536) 8%,
				rgba(0, 0, 0, 0.39539565826330536) 89%
			),
			url(../assets/desktop/image-hero.jpg) no-repeat;
		height: 38rem;
		background-size: cover;
	}

	.herotext {
		max-width: 35rem;
		justify-content: flex-start;
		margin: 10rem auto 10rem 0;
	}

	.herotext h1 {
		font-size: 3.4rem;
		max-width: 33rem;
		line-height: normal;
	}

	/* <> Section 1 */
	section#informational {
		margin-top: 20rem;
		display: flex;

		position: relative;
	}

	section#informational .info-img img {
		max-width: 43rem;
	}

	section#informational .info-text {
		max-width: 35rem;
		padding: 5rem 1rem 4rem 4rem;
		margin: 0;

		position: absolute;

		right: -2rem;
		top: 10rem;
	}

	section#informational .info-text h2 {
		text-align: start;
		font-size: 2.8rem;
		line-height: 3.2rem;
	}

	section#informational .info-text p {
		text-align: start;
		font-size: 0.9rem;
		line-height: 1.6rem;
	}

	/* <> Section 2 - GRID */
	section#creations {
		margin-top: 14rem;
	}

	section#creations .grid-menu {
		grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
		grid-template-rows: 3rem repeat(2, 32rem);
		grid-auto-rows: 32rem;

		gap: 2rem;
	}

	.grid-menu h2 {
		font-size: 2.8rem;
		line-height: normal;
		text-align: start;
		padding-top: 0.5rem;

		grid-column: 1 / 3;
	}

	.grid-menu .btn-grid {
		justify-self: end;
		margin-inline: 0;

		grid-row: 1;
		grid-column: 3 / -1;
	}

	section#creations .grid-menu .grid-item .gridtext {
		font-size: 2.1rem;
		line-height: 2.2rem;
		padding: 25rem 0 0 2rem;
	}

	.grid-menu .item1 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-deep-earth.jpg) no-repeat;
	}

	.grid-menu .item2 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-night-arcade.jpg) no-repeat;
	}

	.grid-menu .item3 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-soccer-team.jpg) no-repeat;
	}

	.grid-menu .item4 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-grid.jpg) no-repeat;
	}

	.grid-menu .item5 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-from-above.jpg) no-repeat;
	}

	.grid-menu .item6 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-pocket-borealis.jpg) no-repeat;
	}

	.grid-menu .item7 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-curiosity.jpg) no-repeat;
	}

	.grid-menu .item8 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.5438550420168067) 9%,
				rgba(246, 246, 246, 0) 100%
			),
			url(../assets/desktop/image-fisheye.jpg) no-repeat;
	}

	/* <> Footer --- */
	footer {
		margin: 15rem 0 0 0;
	}

	.footer-menu,
	.footer-menu-nav {
		flex-direction: row;
		margin-top: 0;
	}

	.footer-flexcontainer {
		width: 50%;
		gap: 1rem;
	}

	.footer-flexcontainer:first-child {
		align-items: flex-start;
	}

	.footer-flexcontainer:nth-child(2) {
		align-items: flex-end;
	}

	.footer-menu-nav {
		gap: 2rem;
		padding: 0.5rem 0 0 0;
	}

	.social-links {
		margin-top: 0;
	}

	.attribution {
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 1440px) {
	.nav-items .navlinks {
		gap: 2rem;
	}

	.nav-items .navlinks li a {
		font-size: 1.05rem;
	}

	header::before {
		height: 40rem;
	}

	header .herotext {
		max-width: 38rem;
		margin: 9rem 0 5rem 0;
	}

	header .herotext h1 {
		font-size: 4.2rem;
		line-height: 4rem;
		padding: 2rem 1rem 2rem 2rem;
	}

	section#informational .info-img img {
		max-width: 45rem;
	}

	section#informational .info-text {
		width: 38rem;
		padding: 6rem 0 4rem 6rem;

		right: 0.2rem;
		top: 10rem;
	}

	section#informational .info-text h2 {
		font-size: 3.2rem;
		line-height: 3.2rem;
	}

	section#informational .info-text p {
		line-height: 1.65rem;
		font-size: 1rem;
	}

	section#creations .grid-menu .grid-item .gridtext {
		font-size: 2.2rem;
	}
}
